<h1>To Do</h1>
 
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="4"></th>
    </tr>
  </thead>
 
  <tbody>
    <%= render @to_do %>
  </tbody>
</table>
 
<br>
 
 
<h1>Doing</h1>
 
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="5"></th>
    </tr>
  </thead>
 
  <tbody>
    <%= render @doing %>
  </tbody>
</table>
 
<br>
 
<h1>Done</h1>
 
<table>
  <thead>
    <tr>
      <th>Content</th>
      <th>State</th>
      <th colspan="4"></th>
    </tr>
  </thead>
 
  <tbody>
    <%= render @done %>
  </tbody>
</table>
 
<br>
<div class="row">
	<div class="col-md-4"><h1 class="text-center">To Do</h1>
		<%= render @to_do %>
	</div>
	<div class="col-md-4"><h1 class="text-center">Doing</h1>
		<%= render @doing %>
	</div>
	<div class="col-md-4"><h1 class="text-center">Done</h1>
		<%= render @done %>
	</div>
</div>
<br>
<%= link_to 'New Task', new_task_path %>
